
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1>Samuel Diogo de Jesus</h1>
        <h2>samuel.jesus@al.infnet.edu.br</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>IaaS</h4>
            <p>IaaS é a abstração de toda a camada de infraestrutura, como redes, armazenamento (storage como, Azure Disk, LoadBalance)</p>
            <p><strong>Exemplo: AWS EC2, AWS Route 66, OpenStack, Azure VM</strong></p>
        </div>
        <div class="col-md-4">
            <h4>PaaS</h4>
            <p>PaaS é a abstração de todas as necessidades de softwares, gestão de hardware, logs, segurança, repositórios. Desta forma, o desenvolvedor foca 
            apenas no desenvolvimento da aplicação e o serviço de nuvem provê toda a plataforma pronta para uso</p>
            <p><strong>Exemplo: </strong> Kubernetes, OpenShift, Azure AppService, Azure Functions</p>
        </div>
        <div class="col-md-4">
            <h4>SaaS</h4>
            <p>A Ferrari desenvolve os melhores carros, porém os carros precisam de combustível para funcionar. Por quê a Ferrari não produz também combustível?</p>
            <p>Por que o foco dela não é este, daí ela pode oferecer o melhor carro e consumir o melhor combustivel.</p>
            <p>Assim entendo SaaS, eu foco no desolvimento da solução do meu domínio, e se eu precisso de inteliência artificial, eu consumo o servço de nuvem da Azure ou IBM Watson</p>
            <p><strong>Exemplo: </strong>IBM Watson AI, Azure Bot services, Genoimics accounts, azure maps accounts</p>
        </div>
    </div>
</div>


