<!-- Left Sidebar -->
<div class="left main-sidebar">

    <div class="sidebar-inner leftscroll">

        <div id="sidebar-menu">

            <ul>
               
                <li class="submenu">
                    <a class="active" href="@Url.Action("Index","Home")"><i class="fa fa-fw fa-bars"></i><span> Home </span> </a>
                </li>

                <li class="submenu">
                    <a href="@Url.Action("Index","Friends")"><i class="fas fa-users"></i><span> Friends </span> </a>
                </li>

                <li class="submenu">
                    <a href="@Url.Action("Index","Countries")"><i class="fas fa-globe-americas"></i><span> Countries </span> </a>
                </li>

                <li class="submenu">
                    <a href="@Url.Action("Index","States")"><i class="fas fa-flag-usa"></i><span> States </span> </a>
                </li>

            </ul>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

    </div>

</div>
<!-- End Sidebar -->
